# Directories
asm/
backups/
blueprints/
config/AntiIDConflict/
config/AppliedEnergistics2/recipes/generated/
config/BiomeTweaker/output
config/draconicevolution
coremods/
craftpresence/
hats/
journeymap/
logs/
mods/
resourcepacks/
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/

# Files
*.dat
*.jar
*.dll
*.log
1213309934
options.txt
optionsshaders.txt
optionsof.txt
splash.properties
usernamecache.json
usercache.json
icon.png
config/AppliedEnergistics2/recipes/items.csv
betterfps.txt
config/MouseTweaks.cfg

# dumb configs
config/MouseTweaks.cfg
config/NEI/client.cfg
