# Directories
asm/
backups/
blueprints/
config\AntiIDConflict/
config/AppliedEnergistics2/recipes/generated
coremods/
craftpresence/
hats/
journeymap/
logs/
mods/
resourcepacks/
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/

# Files
*.dat
*.jar
*.dll
*.log
options.txt
optionsshaders.txt
optionsof.txt
splash.properties
usernamecache.json
usercache.json
icon.png
